<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="venta">
      <h2 data-cy="ventaDetailsHeading"><span jhiTranslate="tiendaApiApp.venta.detail.title">Venta</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ venta.id }}</span>
        </dd>
        <dt><span jhiTranslate="tiendaApiApp.venta.fechaVenta">Fecha Venta</span></dt>
        <dd>
          <span>{{ venta.fechaVenta | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="tiendaApiApp.venta.precioFinal">Precio Final</span></dt>
        <dd>
          <span>{{ venta.precioFinal }}</span>
        </dd>
        <dt><span jhiTranslate="tiendaApiApp.venta.dispositivo">Dispositivo</span></dt>
        <dd>
          <div *ngIf="venta.dispositivo">
            <a [routerLink]="['/dispositivo', venta.dispositivo.id, 'view']">{{ venta.dispositivo.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/venta', venta.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
